* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'cormorant';
    scroll-behavior: smooth;
}

:root {
    --main: rgba(252, 246, 231);
    --secondary: rgba(248, 236, 224);
    --strong: rgba(109, 73, 56);
    --weak: rgba(133, 108, 90, .6);
    --bezel: rgb(220, 200, 180);
}

@font-face {
    font-family: 'cormorant';
    src: url('plugins/Cormorant/Cormorant-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-sb';
    src: url('plugins/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins';
    src: url('plugins/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-l';
    src: url('plugins/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'italianno';
    src: url('plugins/Italianno/Italianno-Regular.ttf') format('truetype');
}

nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 12px 0;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid var(--bezel);
    background: var(--main);
    z-index: 1000;
}

#nav-toggle {
    display: none;
}

#float-nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, var(--main) 17.5%, transparent);
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    z-index: 999;
}

.float-nav-menu {
    display: flex;
    transform: translateY(-16px);
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.float-nav-menu span {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--strong);
}

.frame-line {
    position: fixed;
    top: 0;
    width: 64px;
    height: 100vh;
    pointer-events: none;
    z-index: 1000;
}

.frame-line.left {
    left: 0;
    border-right: 1px solid var(--bezel);
}

.frame-line.right {
    right: 0;
    border-left: 1px solid var(--bezel);
}

.nav-title img {
    width: 84px;
    object-fit: cover;
}

.nav-menu {
    display: flex;
    padding: 0 48px;
    align-items: center;
    font-size: 16px;
    gap: 48px;
}

.nav-menu a,
.float-nav-menu a {
    text-decoration: none;
    color: var(--strong);
}

.nav-menu a:hover,
.float-nav-menu a:hover {
    text-decoration: line-through;
}

.row {
    display: flex;
    align-items: center;
}

.page {
    position: relative;
    padding: 0 132px;
    min-height: 100vh;
    background: var(--main);
}

.btn {
    display: block;
    padding: 8px 48px;
    border: 2px solid var(--strong);
    border-radius: 24px;
    transition: .1s;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: var(--strong);
}

.btn.non-border {
    border: none;
    padding: 8px 24px;
}

.btn:hover {
    transform: translateY(-5px);
}

#home {
    display: flex;
    padding-top: 48px;
    justify-content: center;
    align-items: center;
}

#home .oven {
    position: relative;
    display: flex;
    width: 70vw;
    height: 70vh;
    transition: .3s;
    overflow: hidden;
    border-radius: 32px;
    border-top: 5px solid var(--bezel);
    border-left: 5px solid var(--bezel);
    justify-content: center;
    align-items: center;
}

#home .oven img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home .text-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, var(--main), transparent);
    z-index: 1;
}

#home .text {
    position: absolute;
    text-align: center;
    color: var(--strong);
    z-index: 2;
}

#home .text h1 {
    font-size: 72px;
    transition: .3s;
}

#home .text span:nth-child(2) {
    display: block;
    margin-top: -5px;
    font-style: italic;
    font-size: 28px;
}

#home .text span:nth-child(3) {
    display: block;
    margin: 24px 0;
    margin-bottom: 32px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    font-family: 'poppins-sb';
    font-size: 14px;
    color: var(--main);
}

#home .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#home .est-line {
    position: absolute;
    height: 2px;
    width: calc(50% - 48px);
    margin-top: 66px;
    background: var(--bezel);
    z-index: 3;
}

#home .est-line.left {
    left: 0;
}

#home .est-line.right {
    right: 0;
}

#home .glass-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .25) 50%, transparent 50%);
    transition: .5s;
    z-index: 5;
}

#home .oven:hover .glass-effect {
    transform: translate(-100%, -100%);
}

#home .oven:hover h1 {
    font-size: 84px;
}

#ads,
#availability {
    display: flex;
    padding-top: 64px;
    padding-bottom: 48px;
    min-height: max-content;
    justify-content: center;
    align-items: center;
}

#ads .page .ads-popup,
#availability .page .ads-popup {
    position: relative;
    display: flex;
    width: max-content;
    flex-direction: column;
}

.page .ads-popup .row:nth-child(2) {
    position: relative;
    display: flex;
    align-items: flex-start;
    border-top-right-radius: 24px;
}

.page .ads-popup .box {
    flex: 3;
    padding-top: 24px;
    padding-right: 24px;
    background: var(--main);
    border-top-right-radius: 24px;
    z-index: 2;
}

.page .ads-popup .card {
    flex: 2;
    background: rgb(255, 255, 255);
    border-radius: 24px;
}

.page .ads-popup .top-ads-card {
    display: flex;
    width: 65vw;
    height: 250px;
    max-width: 1000px;
    padding-right: 380px;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 0;
    box-shadow: 5px -5px 15px rgba(0, 0, 0, .05);
}

#availability.page .ads-popup .top-ads-card {
    padding-top: 32px;
    padding-right: 363px;
    max-width: 750px;
    height: 200px;
    flex-direction: column;
    justify-content: flex-start;
}

.page .ads-popup .top-ads-card img {
    width: 300px;
    object-fit: contain;
    transition: .1s;
}

#availability.page .ads-popup .top-ads-card .insta-logo {
    display: flex;
    align-items: baseline;
    gap: 8px;
    text-decoration: none;
}

#availability.page .ads-popup .top-ads-card .insta-logo span {
    display: block;
    font-family: 'italianno';
    font-size: 54px;
    color: #C13584;
}

#availability.page .ads-popup .top-ads-card img {
    pointer-events: none;
    width: 18px;
    object-fit: contain;
}

#availability.page .ads-popup .top-ads-card p {
    transform: translateY(-16px);
    font-family: 'poppins-l';
    font-size: 12px;
    color: rgb(120, 120, 120);
}

.page .ads-popup .top-ads-card img:hover {
    transform: translateY(-12px);
}

.page .ads-popup .left-ads-card {
    position: relative;
    padding: 28px 32px;
    max-width: 596px;
    height: calc(200px - 24px);
    box-shadow: 5px -5px 15px rgba(0, 0, 0, .05);
    overflow: hidden;
}

#availability.page .ads-popup .left-ads-card {
    display: flex;
    height: calc(313px - 24px);
    min-width: calc(375px - 12px);
    max-width: calc(375px - 12px);
    border-bottom-right-radius: 0;
    justify-content: center;
    overflow: visible;
}

#availability.page .ads-popup .left-ads-card .phone {
    transform: translateY(-112px);
}

#availability.page .ads-popup .left-ads-card .phone:hover {
    transform: translateY(-124px);
}

.page .ads-popup .left-ads-card .rate-bg {
    position: absolute;
    bottom: -90px;
    right: -90px;
    padding: 60px 110px 80px 55px;
    background: rgb(245, 245, 255);
    border-radius: 50%;
    font-size: 64px;
    color: rgb(225, 225, 245);
}

.page .ads-popup .left-ads-card p {
    position: relative;
    z-index: 1;
    font-family: 'poppins';
    color: rgb(70, 70, 70);
}

.page .ads-popup .left-ads-card span {
    font-family: 'poppins-l';
    font-size: 14px;
    color: rgb(120, 120, 150);
}

.page .ads-popup .left-ads-card .rating {
    position: absolute;
    display: flex;
    gap: 12px;
    align-items: center;
    bottom: 28px;
}

.page .ads-popup .left-ads-card .star {
    display: flex;
    align-items: center;
    gap: 5px;
}

.page .ads-popup .left-ads-card .star i {
    color: rgb(255, 225, 0);
}

.page .ads-popup .bottom-ads-card {
    position: relative;
    display: flex;
    min-width: 380px;
    max-width: 380px;
    height: 200px;
    justify-content: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .05);
}

#availability.page .ads-popup .bottom-ads-card {
    height: calc(125px - 36px);
    min-width: calc(375px - 12px);
    max-width: calc(375px - 12px);
    justify-content: center;
}

.page .ads-popup .bottom-ads-card::before {
    position: absolute;
    content: '';
    top: 0;
    left: -24px;
    width: 24px;
    height: 24px;
    background: rgb(255, 255, 255);
}

.phone {
    position: absolute;
    display: flex;
    width: 75%;
    transform: translateY(-300px);
    justify-content: center;
    transition: .3s;
}

#availability .phone {
    max-width: 225px;
    transform: translateY(-250px);
    z-index: 4;
}

.phone:hover {
    transform: translateY(-324px);
}

#availability .phone:hover {
    transform: translateY(-275px);
}

.phone img {
    position: absolute;
    width: 100%;
    object-fit: contain;
}

#availability.page .extra-box {
    position: relative;
    height: calc(513px - 200px);
}

#availability.page .ads-popup .extra-ads-card {
    position: absolute;
    display: flex;
    bottom: 0;
    left: -24px;
    height: calc(212px - 12px);
    min-width: calc(375px + 12px);
    max-width: calc(375px + 12px);
    justify-content: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 5px -5px 15px rgba(0, 0, 0, .05);
    z-index: 3;
}

#availability.page .ads-popup .extra-ads-card::before {
    position: absolute;
    content: '';
    top: -24px;
    left: 0;
    width: 24px;
    height: 24px;
    background: rgb(255, 255, 255);
}

#availability.page .ads-popup .extra-ads-card::after {
    position: absolute;
    content: '';
    top: -24px;
    left: 0;
    width: 24px;
    height: 24px;
    border-bottom-left-radius: 24px;
    box-shadow: inset 5px -5px 5px rgba(0, 0, 0, .05);
    background: var(--main);
}

#availability.page .ads-popup .extra-ads-card img {
    width: 180px;
    transform: translateY(35px);
}

#menu {
    display: flex;
    padding-top: 72px;
    flex-direction: column;
    align-items: center;
}

.page .header {
    display: block;
    padding: 24px 0 72px;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    color: var(--strong);
}

#menu .row {
    display: flex;
    width: 72.5vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

#menu .col {
    display: flex;
    min-width: 250px;
    max-width: 22vw;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    color: var(--strong);
}

#menu img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

#menu p {
    margin-top: 12px;
    line-height: 24px;
    text-align: justify;
}

#menu .col span {
    font-weight: 600;
    font-size: 22px;
}

#availability {
    flex-direction: column;
}

#availability .ads-popup {
    padding-top: 24px;
}

@media(max-width: 1250px) {
    #menu .row {
        width: initial;
        justify-content: center;
        gap: 32px;
    }
}

@media(max-width: 1200px) {
    .frame-line {
        width: 48px;
    }

    #home,
    #ads,
    #menu,
    #availability {
        padding-left: 100px;
        padding-right: 100px;
    }

    #home .oven {
        width: 80vw;
        border-radius: 28px;
    }

    .page .header {
        padding: 12px 0 54px;
        font-size: 40px;
    }

    #menu img {
        height: 400px;
    }
}

@media(max-width: 1000px) {
    .nav-title img {
        width: 72px;
    }

    #home {
        padding-top: 0px;
    }

    #home .text h1 {
        font-size: 54px;
    }

    #home .oven:hover h1 {
        font-size: 64px;
    }

    #home .text span:nth-child(2) {
        font-size: 24px;
    }

    #home .text span:nth-child(3) {
        font-size: 13px;
    }

    .btn {
        padding: 5px 32px;
        font-size: 16px;
    }

    .btn.non-border {
        padding: 5px 22px;
    }

    #home .est-line {
        margin-top: 52px;
    }

    .page .ads-popup .top-ads-card img {
        width: 200px;
    }

    .page .ads-popup .top-ads-card img:hover {
        transform: translateY(-6px);
    }


    .page .ads-popup .top-ads-card {
        height: 150px;
        padding-right: 310px;
    }

    .page .ads-popup .left-ads-card {
        height: calc(250px - 24px);
    }

    .page .ads-popup .bottom-ads-card {
        height: 250px;
        min-width: 310px;
        max-width: 310px;
    }

    .phone {
        width: 80%;
        transform: translateY(-200px);
    }

    .phone:hover {
        transform: translateY(-212px);
    }

    .page .ads-popup .left-ads-card .rate-bg {
        bottom: -75px;
        right: -75px;
        padding: 40px 100px 74px 48px;
        font-size: 48px;
        opacity: .6;
    }
}

@media(max-width: 850px) {
    .page .ads-popup .top-ads-card img {
        width: 175px;
    }

    .page .ads-popup .left-ads-card {
        padding: 22px 24px;
    }

    .page .ads-popup .left-ads-card p {
        line-height: 24px;
        font-size: 14px;
    }

    .page .ads-popup .left-ads-card .rating {
        bottom: 22px;
    }

    .page .ads-popup .left-ads-card span {
        font-size: 12px;
    }

    #availability.page .ads-popup .top-ads-card {
        padding-right: 300px;
        max-width: 600px;
    }

    #availability.page .ads-popup .left-ads-card {
        min-width: calc(300px - 12px);
        max-width: calc(300px - 12px);
    }

    #availability.page .ads-popup .bottom-ads-card {
        min-width: calc(300px - 12px);
        max-width: calc(300px - 12px);
    }

    #availability .phone {
        max-width: 225px;
        transform: translateY(-240px);
        z-index: 4;
    }

    #availability .phone:hover {
        transform: translateY(-250px);
    }

    #availability.page .extra-box {
        position: relative;
        height: calc(513px - 200px);
    }

    #availability.page .ads-popup .extra-ads-card {
        min-width: calc(300px + 12px);
        max-width: calc(300px + 12px);
    }
}

@media(max-width: 750px) {
    .nav-menu {
        padding: 0 32px;
        gap: 24px;
    }

    .frame-line {
        width: 32px;
    }

    #home,
    #ads,
    #menu,
    #availability {
        padding-left: 72px;
        padding-right: 72px;
    }

    .page .ads-popup .top-ads-card {
        height: 125px;
        padding-right: 280px;
    }

    .page .ads-popup .top-ads-card img {
        width: 150px;
    }

    .page .ads-popup .left-ads-card {
        height: calc(280px - 12px);
    }

    .page .ads-popup .bottom-ads-card {
        height: 280px;
        min-width: 280px;
        max-width: 280px;
    }

    .phone {
        width: 80%;
        transform: translateY(-175px);
    }

    .phone:hover {
        transform: translateY(-185px);
    }

    .page .ads-popup .box {
        padding-top: 12px;
        padding-right: 12px;
    }

    .page .header {
        padding: 0 0 32px;
        font-size: 28px;
    }

    #menu .col {
        gap: 12px;
    }

    #availability .ads-popup {
        padding-top: 32px;
    }

    #availability.page .ads-popup .top-ads-card .insta-logo {
        transform: translateY(-10px);
    }

    #availability.page .ads-popup .top-ads-card p {
        transform: translateY(-26px);
    }

    #availability.page .ads-popup .extra-ads-card {
        left: -12px;
        bottom: 12px;
        min-width: 300px;
        max-width: 300px;
    }

    #availability.page .ads-popup .extra-ads-card::before {
        border-top-right-radius: 20px;
    }

    #availability.page .ads-popup .extra-ads-card::after {
        border-top-right-radius: 20px;
    }

    #availability.page .ads-popup .extra-ads-card a {
        transform: translateY(16px);
    }
}

@media(max-width: 691px) {
    #menu .col {
        min-width: 300px;
    }

    #menu .col:nth-child(even) {
        flex-direction: column-reverse;
    }

    #menu img {
        height: 500px;
    }
}

@media(max-width: 650px) {
    #home {
        padding-top: 100px;
        padding-bottom: 28px;
        min-height: max-content;
        align-items: flex-start;
    }

    #home .oven {
        height: calc(70vh - 12px);
    }

    .page .ads-popup .row:nth-child(2) {
        flex-direction: column;
    }

    .page .ads-popup .box {
        flex: none;
        padding-right: 0;
        order: 2;
    }

    .page .ads-popup .top-ads-card {
        padding: 0;
        border-bottom-left-radius: 0;
    }

    .page .ads-popup .left-ads-card {
        min-height: 150px;
        height: max-content;
    }

    .page .ads-popup .bottom-ads-card {
        flex: none;
        order: 1;
        width: 100%;
        max-width: 100%;
        height: 475px;
    }

    .page .ads-popup .bottom-ads-card::before {
        display: none;
    }

    .phone {
        transform: none;
        width: 224px;
    }

    .phone:hover {
        transform: none;
    }

    #availability.page .ads-popup {
        padding-top: 0;
    }

    #availability.page .ads-popup .top-ads-card {
        padding-top: 32px;
        padding-right: 0;
        width: 85vw;
        max-width: 1000px;
        height: 125px;
    }

    #availability.page .ads-popup .left-ads-card {
        height: 500px;
        min-width: 85vw;
        max-width: 1000px;
        border-bottom-right-radius: 24px;
    }

    #availability.page .ads-popup .left-ads-card .phone {
        transform: translateY(-632px);
    }

    #availability.page .ads-popup .left-ads-card .phone:hover {
        transform: translateY(-632px);
    }

    #availability.page .ads-popup .bottom-ads-card .phone {
        transform: translateY(650px);
    }

    #availability.page .ads-popup .bottom-ads-card .phone:hover {
        transform: translateY(650px);
    }

    #availability.page .ads-popup .bottom-ads-card {
        height: 465px;
        min-width: 85vw;
        max-width: 1000px;
    }

    #availability .phone {
        max-width: 225px;
        z-index: 4;
    }

    #availability.page .extra-box {
        height: 600px;
    }

    #availability.page .ads-popup .extra-ads-card {
        left: 0;
        bottom: 0;
        height: 125px;
        min-width: 85vw;
        max-width: 1000px;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
    }

    #availability.page .ads-popup .extra-ads-card::before {
        display: none;
    }

    #availability.page .ads-popup .extra-ads-card::after {
        display: none;
    }

    #availability.page .ads-popup .extra-ads-card img {
        width: 150px;
        transform: translateY(-32px);
    }
}

@media(max-width: 550px) {
    nav {
        border: none;
    }

    .nav-title img {
        width: 64px;
    }

    #home {
        padding-top: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }

    #ads,
    #availability {
        padding-left: 16px;
        padding-right: 16px;
    }

    #home .oven {
        width: 100vw;
        height: calc(100vh - 212px);
        border-radius: 28px;
    }

    #home .text h1 {
        font-size: 48px;
    }

    #home .oven:hover h1 {
        font-size: 54px;
    }

    #home .text span:nth-child(2) {
        font-size: 22px;
    }

    #home .text span:nth-child(3) {
        font-size: 12px;
    }

    #home .est-line {
        margin-top: 40px;
    }

    .frame-line {
        width: 0px;
        border: none !important;
    }

    .btn {
        padding: 5px 28px;
        font-size: 14px;
    }

    .btn.non-border {
        padding: 5px 18px;
    }
}

@media(max-width: 450px) {
    nav {
        padding: 12px 16px;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        display: none;
    }

    #nav-toggle {
        display: block;
    }

    #nav-toggle i {
        font-size: 32px;
        color: var(--strong);
    }

    #float-nav.show {
        opacity: 1;
        pointer-events: all;
    }
}